.custom-header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}
.navbar-nav .btn {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transform: scale(1.1);
}

.navbar-toggler {
  border-color: white;

}

.navbar-toggler-icon {
  filter: invert(1);
  
}
