<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <!-- Logo and Home Icon -->
    <a class=" navbar-brand d-flex align-items-center" href="/" >
      <i class="bi bi-house-door-fill me-2"></i> Home
    </a>

    <!-- Navbar Toggler for Mobile View -->
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links & Logout Button -->
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto  ">
        <li class="nav-item  ">
          <button class="btn d-flex align-items-center text-light " (click)="logout()">
            <i class="bi bi-box-arrow-right "></i><span class="p-1">Disconnect</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
