<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card rounded-5">
            <div class="row g-0">
              <div class="d-flex justify-content-center align-items-center h-100 col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/resetImage.svg" alt="reset form" class="img-fluid" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5">
                  <div class="d-flex justify-content-center mb-5 pb-1">
                    <img src="assets/procanLogo.png" alt="Procan Logo" class="w-75 mh-100" />
                  </div>
                  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit($event)">
                    <div class="input-group  mb-4">
                      <span class="input-group-text"><i class="bi bi-shield-lock"></i></span>
                      <input type="password" id="password" formControlName="password" class="form-control form-control-lg"
                        placeholder="New Password" aria-label="New Password"
                        [class.is-invalid]="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
                      <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="invalid-feedback">
                        Password is required and must be at least 6 characters.
                      </div>
                    </div>
                    <div class="input-group  mb-4">
                      <span class="input-group-text"><i class="bi bi-shield-check"></i></span>
                      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control form-control-lg"
                        placeholder="Confirm Password" aria-label="Confirm Password"
                        [class.is-invalid]="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
                      <div *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="invalid-feedback">
                        Passwords do not match.
                      </div>
                      <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && !resetPasswordForm.get('confirmPassword')?.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="invalid-feedback">
                        Confirm Password is required.
                      </div>
                    </div>
                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  