<div class="d-flex flex-column align-items-center align-items-md-start min-vh-100 h-100 sidebar ">
  <!-- Logo -->
  <div class="d-flex align-items-center pb-3 mb-lg-0 me-lg-auto">
    <img src="assets/procanLogo.png" alt="Procan Logo" class="img-fluid sidebar-logo d-none d-lg-inline">
  </div>

  <!-- Divider Below Logo -->
  <hr class="sidebar-divider w-100 d-none d-lg-inline">

  <!-- Menu Items -->
  <ul class="nav nav-pills flex-column container-fluid px-0">
    <li class="nav-item" *ngFor="let item of menuItems">
      <a class="nav-link align-middle px-0 d-flex align-items-center sidebar-link" 
         (click)="onMenuClick(item.component)" (click)="setActiveComponent(item.component)" [ngClass]="{ 'active': activeComponent === item.component }">
         <i class="fs-5 me-2 px-3" [ngClass]="item.icon"></i>
        <span class="d-none d-lg-inline">{{ item.label }}</span>
      </a>
    </li>
  </ul>

  <!-- Bottom Divider & User Menu -->
  <hr class="sidebar-divider w-100 mt-auto">

  <div class="dropdown w-100 text-center user-menu">
    <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle px-md-3 py-md-2" 
       style="cursor: pointer;" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <img *ngIf="avatarPath" [src]="avatarPath" alt="User Avatar" class="rounded-circle user-avatar">
      <i *ngIf="!avatarPath" class="bi bi-person-circle fs-4"></i>
      <span class="ms-2 d-none d-xl-inline">{{ fullName }}</span>
    </a>

    <ul class="dropdown-menu dropdown-menu-dark text-small shadow animated-dropdown mx-lg-5 " aria-labelledby="userDropdown">
      <li *ngIf="!isAdmin">
        <a class="dropdown-item sidebar-dropdown-item" (click)="navigateToProfile()">Profile</a>
      </li>
      <li><a class="dropdown-item sidebar-dropdown-item">Notifications</a></li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <button class="btn d-flex align-items-center text-light dropdown-item sidebar-logout-btn" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i><span class="p-1">Logout</span>
        </button>
      </li>
    </ul>
  </div>
</div>
