<div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2  min-vh-100 h-100 sidebar">
    <!-- Logo -->
    <div class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="assets/procanLogo.png" alt="Procan Logo" class="img-fluid sidebar-logo d-none d-sm-inline">
    </div>

    <!-- Menu Items -->
    <ul class="nav nav-pills flex-column">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a href="#" class="nav-link align-middle px-0" (click)="onMenuClick(item.component)">
          <i class="fs-4 m-1" [ngClass]="item.icon"></i>
          <span class="ms-1 d-none d-sm-inline">{{ item.label }}</span>
        </a>
      </li>
    </ul>
</div>
