@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&family=Poppins:wght@300;700&display=swap');
:root {
    --color-primary: #308cec; 
    --color-primaryDarkest: #1c6bb6; 
    --color-primaryLight: #7abff2; 
    --color-secondary: #5c99f8; 
    --color-accent: #ffab00; 
    --color-background: linear-gradient(90deg, #2dbffb 0%, #0e76de 100%);; 
    --color-card: #ffffff; 
    --color-textPrimary: #2d2d2d; 
    --color-textSecondary: #6c757d; 
    --color-border: #dcdfe3; 
    
    --font-family-primary: 'Montserrat', sans-serif; 
    --font-family-secondary: 'Poppins', sans-serif;
    --font-family-additional: 'Open Sans', sans-serif; 
}
body {
    font-family: var(--font-family-secondary); 
    background: var(--color-background);
    color: var(--color-textPrimary); 
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-primary); 
    color: var(--color-primary); 
}





